<!-- Dutch Sidebar -->
<aside class="sidebar">
  
  {% if page.id %}
  <div class="widget widget-recent">
    <h3 class="widget-title">Recente artikelen</h3>
    {% assign sorted_posts = site.nl_posts | sort: 'date' | reverse %}
    {% assign count = 0 %}
    {% for post in sorted_posts %}
      {% if post.id != page.id %}
        {% if count < 4 %}
        <div class="recent-posts">
          {% if post.image %}
          <div class="recent-header">
            <a class="recent-image" href="{{ site.baseurl }}{{ post.url }}" style="background-image: url({{"/img/" | prepend: site.baseurl | append: post.image}})"></a>
          </div>
          {% endif %}
          <div class="recent-content">
            <h6 class="recent-title"><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h6>
            <div class="recent-date">
              <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %-d, %Y" }}</time>
            </div>
          </div>
        </div>
        {% assign count = count | plus: 1 %}
        {% endif %}
      {% endif %}
    {% endfor %}
  </div>
  {% endif %}


  <div class="widget widget-social">
    <h3 class="widget-title">Contacten</h3>
    <ul class="social-profiles list-reset">
      {% if site.x %}
      <li class="social-profiles-item">
        <a href="{{ site.x }}" class="social-profiles-link">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <path d="M14.095479,10.316482L22.286354,1h-1.940718l-7.115352,8.087682L7.551414,1H1l8.589488,12.231093L1,23h1.940717  l7.509372-8.542861L16.448587,23H23L14.095479,10.316482z M11.436522,13.338465l-0.871624-1.218704l-6.924311-9.68815h2.981339  l5.58978,7.82155l0.867949,1.218704l7.26506,10.166271h-2.981339L11.436522,13.338465z" fill="currentColor"/>
            </svg>
        </a>
      </li>
      {% else %} {% endif %}
      {% if site.telegram %}
      <li class="social-profiles-item">
        <a href="{{ site.telegram }}" class="social-profiles-link">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <path d="M9.998,15.192l-0.437,4.906c0.623,0,0.891-0.267,1.215-0.588l2.913-2.792l6.049,4.415c1.109,0.616,1.885,0.292,2.153-1.031L24,2.856c0.328-1.365-0.521-1.988-1.604-1.616L1.524,8.267c-1.364,0.536-1.348,1.302-0.238,1.652l4.843,1.51L19.428,4.67c0.568-0.368,1.087-0.164,0.66,0.234L9.998,15.192z" fill="currentColor"/>
          </svg>
        </a>
      </li>
      {% else %} {% endif %}

      {% if site.instagram %}
      <li class="social-profiles-item">
        <a href="{{ site.instagram }}" class="social-profiles-link"><i class="ion ion-logo-instagram"></i></a>
      </li>
      {% else %} {% endif %}

      {% if site.email %}
      <li class="social-profiles-item">
        <a href="mailto:{{ site.email }}" class="social-profiles-link"><i class="ion ion-md-mail"></i></a>
      </li>
      {% else %} {% endif %}
    </ul>
  </div>
<!--
  <div class="widget widget-newsletter">
    <h3 class="widget-title">Newsletter</h3>
    <div class="newsletter-subtitle">Get Interesting News</div>
    <div class="newsletter-text">Receive the latest news via email.</div>
    <form class="c-newsletter-form validate" action="{% if site.mailchimp %}//{{site.mailchimp}}{% else %}#{% endif %}" method="POST"
      id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" novalidate>
      <div class="newsletter-group">
        <div class="newsletter-group-top">
          <label class="screen-reader-text" for="mce-EMAIL">Email address</label>
          <i class="email-icon ion ion-ios-mail"></i>
          <input class="newsletter-email required email" id="mce-EMAIL" type="text" name="EMAIL" placeholder="E-mail">
        </div>
        <input class="newsletter-button" id="mc-embedded-subscribe" type="submit" name="subscribe" value="Subscribe">
      </div>
    </form>
  </div>
-->


  <div class="widget widget-tags">
    <h3 class="widget-title">Tag Cloud</h3>
  
    {% assign nl_tags = "" %}
  
    {% for post in site.nl_posts %}
      {% for tag in post.tags %}
        {% assign nl_tags = nl_tags | append: tag | append: "," %}
      {% endfor %}
    {% endfor %}
  
    {% assign nl_tag_words = nl_tags | split:',' | uniq | sort %}
  
    <ul class="tag-list list-reset">
      {% for tag in nl_tag_words %}
        <li class="tag-item"><a href="{{ site.baseurl }}/nl/tags#{{ tag | cgi_escape }}" class="tag">{{ tag }}</a></li>
      {% endfor %}
    </ul>
  </div>


  {% if site.instafeed == true %}
  <div class="widget widget-instagram">
    <h3 class="widget-title">Instagram</h3>
    <div class="instagram-box">
      <ul id="instafeed" class="instagram-grid list-reset clearfix"></ul>
      <a class="instagram-prof" href="#">&#64;UserName</a>
    </div>
  </div>
  {% endif %}
  {% if site.xfeed == true %}
  <div class="widget widget-x">
    <h3 class="widget-title">X-feed</h3>
    <div class="x-box">
      <a class="twitter-timeline" data-chrome="noheader nofooter noborders transparent" data-theme="dark" href="https://twitter.com/NXT4EU?ref_src=twsrc%5Etfw">Berichten Door NXT4EU</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
  </div>
  {% endif %}
  
</aside> <!-- /.sidebar -->
